form {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(39, 66, 85);
    width: 100%;
    gap: 15px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(20, 23, 46);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    font-weight: bold;
}

label {
    font-size: 24px;
    color: white
}

input, button, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

input {
    border: 1px solid grey;
}

input:hover, textarea:hover {
    background-color: rgb(228, 247, 255);
}

input:focus, textarea:focus {
    border: 3px rgb(19, 60, 94) solid;
    background-color: rgb(217, 242, 253);
}

button:hover {
    background-color: rgb(87, 131, 151);
    transition: 0.5s ease;
    cursor: pointer;
}

textarea {
    height: 100px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

button {
    background-color: rgb(155, 182, 202);
    font-weight: bold;
}

.content {
    width: 50%;
    align-items: center;
    min-width: 300px;
    justify-content: center;
}

#mensagem {
    display: none;
    color: white;
    font-size: 20px;
}

form > div {
    display: flex;
    width: 50%;
    gap: 10px;
    color: white;
    font-size: 20px;
}

/* RESPONSIVIDADE */

@media (max-width: 425px) {
    form {
        padding: 20px;
    }
    label {
        font-size: 20px;
    }

    input, button, textarea {
        font-size: 15px;
        padding: 10px;
        height: 40px;
    }
    textarea {
        height: 55px;
    }

}