@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 111, 138);
    border-bottom: 5px solid rgb(39, 66, 85);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 0px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 50px;
}

h1 {
    font-family: "Felipa", serif;
    font-size: 36px;
}

.logo h1 {
    font-size: 44px;
}

.opcoes {
    display: flex;
    gap: 25px;
}

.opcoes a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.content a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(39, 66, 85);
    padding: 15px;
    border-radius: 5px;
}

.livros {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 25px 50px;
    background-color: rgb(72, 111, 138);
    border-radius: 20px;
}

#livros {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#livros img {
    width: 13%;
    border-radius: 5px;
}

ul {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(72, 111, 138);
    color: white;
    width: 48%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

li h2 {
    font-size: 32px;
    font-family: "Felipa", serif;
}

li p {
    width: 100%;
}

.baixo-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes button {
    color: rgb(39, 66, 85);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons button {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.content > form > a {
    color: rgb(39, 66, 85);
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px;
}

.mensagem {
    width: 40%;
    padding: 20px;
    background-color: rgba(72, 111, 138, 0.2); 
    border-radius: 20px;
    color: rgb(39, 66, 85);
    text-align: center;
    font-style: italic;
    margin: 10px 0 30px 0;
}