@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(72, 111, 138);
    border-bottom: 5px solid rgb(39, 66, 85);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 15px 0px;
    color: white;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo img {
    width: 50px;
}

h1 {
    font-family: "Felipa", serif;
    font-size: 36px;
}

.logo h1 {
    font-size: 44px;
}

.opcoes {
    display: flex;
    gap: 25px;
}

.opcoes a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.opcoes a:hover {
    font-weight: bold;
    transition: 0.3s ease;
}

main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 25px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
}

.content a {
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(39, 66, 85);
    padding: 15px;
    border-radius: 5px;
}

.content a:hover {
    background-color: rgb(25, 44, 58);
    transition: 0.5s ease;
}

.livros {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    padding: 25px 50px;
    background-color: rgb(72, 111, 138);
    border-radius: 20px;
}

#livros {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

#livros img {
    width: 13%;
    border-radius: 5px;
    min-width: 150px;
}

ul {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

li {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    list-style: none;
    background-color: rgb(72, 111, 138);
    color: white;
    width: 48%;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

li h2 {
    font-size: 32px;
    font-family: "Felipa", serif;
}

li p {
    width: 100%;
}

.baixo-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 10px;
}

.botoes button {
    color: rgb(39, 66, 85);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.botoes button:hover {
    background-color: rgb(228, 247, 255);
    cursor: pointer;
    transition: 0.3s ease;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttons button {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    height: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons button:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    transition: 0.3s ease;
}

.content > form > a {
    color: rgb(39, 66, 85);
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 15px;
}

.mensagem {
    width: 40%;
    padding: 20px;
    background-color: rgba(72, 111, 138, 0.2); 
    border-radius: 20px;
    color: rgb(39, 66, 85);
    text-align: center;
    font-style: italic;
    margin: 10px 0 30px 0;
}

/* RESPONSIVIDADE */

/* ADAPTAÇÃO DOS LIVROS SUGERIDOS */

@media (max-width: 1342px) {
    #livro7 {
        display: none;
    }
}

@media (max-width: 1166px) {
    #livro6 {
        display: none;
    }
}

@media (max-width: 986px) {
    #livro5 {
        display: none;
    }
}

@media (max-width: 808px) {
    #livro5, #livro6 {
        display: block;
    }
    #livros {
        gap: 20px;
    }
    .mensagem {
        width: 100%;
    }
}

/* TELAS */

@media (max-width: 768px) {
    li {
        width: 100%;
    }
}

@media (max-width: 425px) {
    #livro7 {
        display: block;
    }
    #livros img {
        width: 130px;
        min-width: 130px;
    }
    .cabecalho {
        align-items: center;
        justify-content: center;
    }
    .cabecalho {
        gap: 15px;
    }
    .cabecalho a {
        font-size: 18px;
    }
    .content p {
        font-size: 16px;
    }
    .content a {
        font-size: 20px;
    }
    .mensagem {
        width: 100%;
    }
    h3 {
        font-size: 16px;
    }
}

@media (max-width: 375px) {
    li {
        padding: 20px;
    }
    .baixo-li button {
        font-size: 16px;
        padding: 5px;
    }
    .livros {
        padding: 25px;
    }
    #livros img {
        width: 120px;
        min-width: 120px;
    }
}


@media (max-width: 320px) {
    #livros {
        gap: 10px;
    }
    #livros img {
        width: 110px;
        min-width: 110px;
    }
}