{% extends 'base.html' %}

{% block title %}
    Seus livros
{% endblock %}

{% block content %}
    <h1>Seus livros</h1>
    <h2>Não lidos</h2>
    <ul>
        {% for livro in livros %} 
            {% if not livro.lido %}
                <li>
                    <h2>{{livro.titulo}}</h2>
                    <p>{{livro.desc}}</p>
                    <div class="baixo-li">
                        <h3><b>Gênero:</b> {{livro.genero}}</h3>
                        <div class="botoes">
                            <form action="{{ url_for('editar_livro', indice=loop.index0) }}">
                                <button>Editar</button>
                            </form>
                            <form action="{{ url_for('excluir_livro', indice=loop.index0) }}" method="POST">
                                <button>Excluir</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2>Lidos</h2>
    <ul>
        {% for livro in livros %} 
            {% if livro.lido %}
                <li>
                    <h2>{{livro.titulo}}</h2>
                    <p>{{livro.desc}}</p>
                    <div class="baixo-li">
                        <h3><b>Gênero:</b> {{livro.genero}}</h3>
                        <div class="botoes">
                            <form action="{{ url_for('editar_livro', indice=loop.index0) }}">
                                <button>Editar</button>
                            </form>
                            <form action="{{ url_for('excluir_livro', indice=loop.index0) }}" method="POST">
                                <button>Excluir</button>
                            </form>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="buttons">
        <form action="{{url_for('cadastro_livros')}}">
            <button>Cadastrar livros</button>
        </form>
        <form action="{{url_for('logout')}}" method="post">
            <button>Sair</button>
        </form>
    </div>
{% endblock %}